<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>SignUp</title>
</head>
<body>
<header>
    <h1>Sign Up!</h1>
</header>
<main class="login-container">  <!-- use the same container class as the login page -->
    <div class="login-form">  <!-- wrap form in a div with class "login-form" -->
        <form action="/signup" method="POST">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">
            <br>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">
            <br>
            <label for="dateOfBirth">Date of Birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth">
            <br>
            <label for="bio">Additional Info</label>
            <input type="text" name="bio" id="bio">
            <br>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <br>
            <button type="submit">Sign Up</button>
        </form>
        <br>
    </div>
</main>
</body>
</html>
